<h1>Welcome Space Warrior</h1>

<h2>Please Sign In</h2>

<form action="/login" method="POST"/>
  <h3>Username</h3>
  <input type="text" name="username"/>
  <br>
  <h3>Password</h3>
  <input type="text" name="password"/>
  <input type="submit"/>
</form> 

<a href="/signup"><h3>Need to Create An Account? Click Here</h3></a>

<div>
  <%= results.each do |row|
      puts row["id"]
      end %>
</div>
