<h3>Create An Account</h3>


<form action="/signup" method="POST">
    <h3>Username</h3>
    <input type="text" name="username"/>
    <br>
    <h3>Password: Must be at least 8 characters and contain a number and a symbol</h3>
    <input type="text" name="password"/>
    <input type="submit"/>
</form>
